@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

.pricing-plan-wrap:nth-child(2)::after {
  content: "";
}

.custom-radial-color {
  background-image: radial-gradient(rgba(33, 33, 86, 1), rgba(4, 4, 21, 1));
}
.faq-accordion-header button:focus {
  box-shadow: none !important;
}

.faq-accordion-header button {
  box-shadow: none !important;
}
.faq-accordion-header .accordion-button {
  background-color: rgba(255, 255, 255, 0) !important;
  background-image: none;
  border: none !important;
  outline: none;
}
.faq-section .accordion-button:focus {
  border: none !important;
}

.payment-features:nth-last-child(1) {
  border-bottom: 0px !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 16px;
  font-weight: 400;
 font-family: 'Poppins', sans-serif !important; 
}

div {
 font-family: 'Poppins', sans-serif !important; 
}

span {
 font-family: 'Poppins', sans-serif !important; 
}
.payment-card:hover button{
  background-color: #2563eb;
  color: white;
}
a{
  text-decoration: none !important;
color: inherit !important;

}